@page
@model Livraria.App.Pages.Usuarios.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Endereco" class="control-label"></label>
                <input asp-for="Usuario.Endereco" class="form-control" />
                <span asp-validation-for="Usuario.Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.CPF" class="control-label"></label>
                <input asp-for="Usuario.CPF" class="form-control" />
                <span asp-validation-for="Usuario.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.IdInstituicaoDeEnsino" class="control-label"></label>
                <select asp-for="Usuario.IdInstituicaoDeEnsino" class="form-control" asp-items="ViewBag.IdInstituicaoDeEnsino"></select>
                <span asp-validation-for="Usuario.IdInstituicaoDeEnsino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Telefone" class="control-label"></label>
                <input asp-for="Usuario.Telefone" class="form-control" />
                <span asp-validation-for="Usuario.Telefone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
