@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à melhor livraria do TJMT</h1>
    <p><i><b>“A leitura engrandece a alma.” -</b></i> <a href="https://meuartigo.brasilescola.uol.com.br/atualidades/leitura-experiencia-conhecimento-qualidade-vida.htm">Voltaire</a>.</p>
</div>
